<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Today</h1>
      <p>Today is <%= Time.now.strftime('%A') %>, <%= Time.now.strftime('%B' '%d') %>, <%= Time.now.strftime('%Y') %> </p>
  </body>
</html>
